<mat-nav-list *ngIf="value" style="padding-top:0px;">
  <mat-accordion>
    <ng-container *ngFor="let item of value">
      <a mat-list-item (click)="menu.toggle()" class="mat-list-item-border"
      *ngIf="item.subMenus.length == 0; else hasSubMenus" [routerLink]="item.url">
        {{ item.name | translate }}
      </a>
      <ng-template #hasSubMenus>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title m-f style="line-height: 30px;">
              <span>{{ item.name | translate }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let submenu of item.subMenus">
            <a mat-list-item m-f (click)="menu.toggle()" [routerLink]="submenu.url">
              {{ submenu.name | translate }}
            </a>
          </ng-container>
        </mat-expansion-panel>
      </ng-template>
    </ng-container>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title m-f style="line-height: 30px;">
          <span padding-right>{{ 'menu.language' | translate }}</span>
          <figure class="flag"></figure>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item m-f (click)="useLang('en')">
        <figure class="flag flag-us"></figure>
        <span class="countrylist-caption">{{ 'menu.languageList.en' | translate }}</span>
      </a>
      <a mat-list-item m-f (click)="useLang('zh-tw')">
        <figure class="flag flag-tw"></figure>
        <span class="countrylist-caption">{{ 'menu.languageList.zh-tw' | translate }}</span>
      </a>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title m-f style="line-height: 30px;">
          <span padding-right>{{ 'menu.theme' | translate }}</span>
          <figure class="flag"></figure>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item m-f (click)="toggleTheme(false)">
        <figure class="flag flag-theme-sunny"></figure>
        <span class="countrylist-caption">{{ 'menu.themeList.normal' | translate }}</span>
      </a>
      <a mat-list-item m-f (click)="toggleTheme(true)">
        <figure class="flag flag-theme-moon"></figure>
        <span class="countrylist-caption">{{ 'menu.themeList.dark' | translate }}</span>
      </a>
    </mat-expansion-panel>

  </mat-accordion>
</mat-nav-list>
